@model Garage2._0.Models.ParkedVehicle

@{
    ViewBag.Title = "Delete";
    String headline = "Check out " + Model.RegNo + " from Joe's Garage";
    String question = "Are you sure you want to check out this " + Model.Type.ToString().ToLower() + "?";
}

<h2>@headline</h2>

<h3>@question</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registry number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Colour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            Brand:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            Model:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            Amount of wheels:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfWheels)
        </dd>
        <dt>
            Check in time:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt>
            Time parked:
        </dt>
        <dd>
            @{
                var timeParked = DateTime.Now - Model.CheckInTime;
                string displayTime = "";
                if (timeParked.Days > 0)
                {
                    displayTime = displayTime + timeParked.Days + " days ";
                }
                displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
            }
            @displayTime
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button>
                @Html.ActionLink("Confirm", "Receipt", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue, Id = Model.Id })
            </button>
        </div>
    }
    <br />
    <br />
    @{
        string backToStr = "";
        if (ViewBag.SearchProp != null)
        {
            backToStr = "To " + ViewBag.SearchValue.ToLower() + " overview";
            if (ViewBag.SearchProp == "Colour")
            {
                backToStr = "To " + ViewBag.SearchValue.ToLower() + " vehicles overview";
            }
            if (ViewBag.SearchProp == "TimeParkedMore")
            {
                backToStr = "To >" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            if (ViewBag.SearchProp == "TimeParkedLess")
            {
                backToStr = "To <" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            <button>
                @Html.ActionLink(backToStr, "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
            </button>
            <br />
            <br />
        }
    }
    <button>@Html.ActionLink("To vehicle overview", "Index")</button>

</div>
