@model Garage2._0.Models.ParkedVehicle

@{
    ViewBag.Title = "Details";
    String headline = "Detailed information on " + Model.RegNo;
}

<h2>@headline</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfWheels)
        </dd>

    </dl>
</div>
<p>
        @{
            string backToStr = "To " + ViewBag.SearchValue + " overview";
            if (ViewBag.SearchProp != null)
            {
                if (ViewBag.SearchProp == "TimeParkedMore")
                {
                    backToStr = "To >" + ViewBag.SearchValue + " hours overview";
                }
                if (ViewBag.SearchProp == "TimeParkedLess")
                {
                    backToStr = "To <" + ViewBag.SearchValue + " hours overview";
                }
                <button>
                    @Html.ActionLink(backToStr, "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
                </button>
                <br />
                <br />
            }
        }
        <button>@Html.ActionLink("To vehicle overview", "Index")</button>
</p>
