@model IEnumerable<Garage2._0.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
    String headline = "";
    if (ViewBag.SearchProp == null)
    {
        headline = "Vehicles parked in Joe's Garage";
    }
    else
    {
        if (ViewBag.SearchProp == "RegNo")
        {
            headline = "Vehicle " + ViewBag.SearchValue + " in Joe's Garage";
        }
        if (ViewBag.SearchProp == "Type")
        {
            headline = ViewBag.SearchValue + "s parked in Joe's Garage";
        }
        if (ViewBag.SearchProp == "Colour")
        {
            headline = ViewBag.SearchValue + " vehicles parked in Joe's Garage";
        }
        if (ViewBag.SearchProp == "TimeParked")
        {
            headline = "Vehicles in Joe's Garage for " + ViewBag.SearchValue + " hours or more";
        }
    }
}

@*<h2>Parked in Joe's Garage</h2>*@
<h2>@headline</h2>

<button class="button-link">@Html.ActionLink("Check in", "Create", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })</button>
<div id="searchBox">
    <h3>Search</h3>
    Property: <select name="searchProp" form="searchform" id="searchProp" onchange="AdaptForm()">
        <option value="RegNo">Registry Number</option>
        <option value="Type">Type</option>
        <option value="Colour">Colour</option>
        <option value="TimeParked">Time Parked (hours)</option>
    </select>
    <br><div style="float: left;">Value:</div> 
    <form id="searchform" style="float:right;">
        <input name="searchValue" id="select" type="text" />
        <input type="submit">
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registry Number", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "RegNo"})
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Type" })
        </th>
        <th>
            @Html.ActionLink("Colour", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Colour" })
        </th>
        <th>
            @Html.ActionLink("Time Parked", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "TimeParked" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @{
                var timeParked = DateTime.Now - item.CheckInTime;
                string displayTime = "";
                if (timeParked.Days > 0)
                {
                    displayTime = displayTime + timeParked.Days + " days ";
                }
                displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
            }
            @displayTime
        </td>
        <td>
            <button>
                @Html.ActionLink("Details", "Details", new { id = item.Id, searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
            </button>
            <button>
                @Html.ActionLink("Check out", "Delete", new { id = item.Id, searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
            </button>
        </td>
    </tr>
}

</table>

<div id="backLink">
    @{
        if (ViewBag.InsertLink)
        {
            <button>@Html.ActionLink("To vehicle overview", "Index")</button>
        }
    }
</div>

<script>
    AdaptForm = function ()
    {
        form = document.getElementById("searchform")
        form.removeChild(document.getElementById("select"))
        if (document.getElementById("searchProp").value == "Type")
        {
            var array = ["Airplane", "Boat", "Bus", "Car", "Motorcycle"]
            var select = document.createElement("select");
            select.name = "searchValue";
            select.id = "select";
            form.insertBefore(select, form.firstChild);

            for (var i = 0; i < array.length; i++)
            {
                var option = document.createElement("option");
                option.value = array[i];
                option.text = array[i];
                select.appendChild(option);
            }
        }
        else
        {
            var text = document.createElement("input");
            text.setAttribute("type", "text");
            text.setAttribute("name", "searchValue")
            text.id = "select";
            form.insertBefore(text, form.firstChild);
        }
    }

    //AddBackLink = function()
    //{
    //    var pos = document.getElementById("backLink");
    //    var link = document.createElement("a");
    //    link.setAttribute("href", "/");
    //    link.innerHTML = "Back to full list";
    //    pos.appendChild(link);
    //}
</script>