@model Garage2._0.Models.ParkedVehicle

@{
    ViewBag.Title = "Receipt";
}

@{

    string[] months = new string[] { "Dummy", "January", "February", "march", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    String came = "You came:     " + Model.CheckInTime.DayOfWeek + " " + Model.CheckInTime.Day + " " + months[Model.CheckInTime.Month] + " " + Model.CheckInTime.Year + " at " + Model.CheckInTime.Hour + ":" + Model.CheckInTime.Minute;

    System.DateTime toDay = System.DateTime.Now;

    String checkOutTime = "To day it is : " + toDay.DayOfWeek + " " + toDay.Day + " " + months[toDay.Month] + " " + toDay.Year + " at " + toDay.Hour + ":" + toDay.Minute;

    System.TimeSpan diff = toDay.Subtract(Model.CheckInTime);

    String parkedTime = "You been parked: " + diff.Days + " day(s) " + diff.Hours + " hours and " + diff.Minutes + " minutes";

    int kost1, kost4;
    kost1 =  kost4 = 0;

    
   kost4 = diff.Days * 31;

    if (2 < diff.Hours)
    {
        kost1 = 12;
        if (30 < (diff.Hours-2)*60 + diff.Minutes)
        {
            kost1 += 5;
        }
    }

    if (12 < diff.Hours)
    {
        kost1 = 27;
        if (30 < (diff.Hours - 12) * 60 + diff.Minutes)
        {
            kost1 += 4;
        }
    }

    var totalCost = kost1 + kost4;

    String parkedCost = "The total cost is: " + totalCost + " €";
}
<style>
    p.double {
        font-size: 120%;
        text-align: justify; 
        border-style: double;
        color: blue;
}   
    }
</style>

<h1>Ticket</h1>
<p class="double">
<br><b>@came</b><br><b>@checkOutTime</b><br><b>@parkedTime</b><br><br><b>@parkedCost</b><br><br>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <input type="submit" value="OK"/>
}

