@model Garage2._0.Models.ParkedVehicle

@{
    ViewBag.Title = "Receipt";
}

@{

    string[] months = new string[] { "Dummy", "January", "February", "march", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
    String came = "You Came:     " + Model.CheckInTime.DayOfWeek + " " + Model.CheckInTime.Day + " " + months[Model.CheckInTime.Month] + " " + Model.CheckInTime.Year;

    System.DateTime toDay = System.DateTime.Now;

    String checkOutTime = "To Day is it: " + toDay.DayOfWeek + " " + toDay.Day + " " + months[toDay.Month] + " " + toDay.Year;

    System.TimeSpan diff = toDay.Subtract(Model.CheckInTime);

    String parkedTime = "You been Parked " + diff.Days + " Day(s) " + diff.Hours + " Hours and " + diff.Minutes + " minutes";

    int kost1, kost2, kost3, kost4;
    kost1 = kost2 = kost3 = kost4 = 0;

    if (diff.Days > 1)
    {
        kost4 = diff.Days * 31;
    }

    if (2.0 < diff.Hours && diff.Hours < 2.5)
    {
        kost1 = 12;
    }

    if (2.5 < diff.Hours && diff.Hours < 12)
    {
        kost3 = 17;
    }

    if (12.5 < diff.Hours && diff.Hours < 24)
    {
        kost2 = 27;
    }

    var totalCost = kost1 + kost2 + kost3 + kost4;

    String parkedCost = "The Total cost is: " + totalCost + " euro;";
}
<style>
    p.double {
        font-size: 120%;
        text-align: justify; 
        border-style: double;
        color: blue;
}   
    }
</style>

<h1>Ticket</h1>
<p class="double">
<br><b>@came</b><br><b>@checkOutTime</b><br><b>@parkedTime</b><br><br><b>@parkedCost</b><br><br>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <input type="submit" value="Pay"/>
}

