@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Create";
}

<h2>Check in to Joe's Garage</h2>

<h3 class="text-danger">@ViewBag.ErrorGarageFull</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Registry number: </label>
            <div class="col-md-10 text-danger">
                @Html.EditorFor(model => model.RegNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegNumber, "", new { @class = "text-danger" })
                @{
                    string message = "";
                    if (!string.IsNullOrEmpty(ViewBag.ErrorVehicleExists))
                    {
                        message = ViewBag.ErrorVehicleExists;
                    }
                }
                @message
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Type: </label>
            <div class="col-md-10">
                <select name="VehicleTypeId" class="form-control">
                    @foreach (var item in ViewBag.VehicleTypes)
                    {
                        <option value="@item.Id">@item.VehicleSort</option>
                    }
                </select>
                @*<div class="col-md-10">
                @Html.EditorFor(model => model.VehicleTypeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VehicleType.VehicleSort, "", new { @class = "text-danger" })
            </div>*@
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Owner: </label>
            <div class="col-md-10">
                <select name="MemberId" class="form-control">
                    @foreach (var item in ViewBag.Members)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                @*@Html.EditorFor(model => model.MemberId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VehicleType.VehicleSort, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Colour: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Check in"/>
            </div>
        </div>
    </div>
}

<div>
    <br />
    @{
        string backToStr = "";
        if (ViewBag.SearchProp != null)
        {
            backToStr = "To " + ViewBag.SearchValue.ToLower() + " overview";
            if (ViewBag.SearchProp == "Colour")
            {
                backToStr = "To " + ViewBag.SearchValue.ToLower() + " vehicles overview";
            }
            if (ViewBag.SearchProp == "TimeParkedMore")
            {
                backToStr = "To >" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            if (ViewBag.SearchProp == "TimeParkedLess")
            {
                backToStr = "To <" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            <button>
            @Html.ActionLink(backToStr, "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })</button>
            <br />
            <br />
        }
    }
    <button>@Html.ActionLink("To vehicle overview", "Index")</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
