@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Delete";
    String headline = "Check out " + Model.RegNumber + " from Joe's Garage";
    String question = "Are you sure you want to check out this " + Model.VehicleType.VehicleSort.ToString().ToLower() + "?";
}

<h2>@headline</h2>

<h3>@question</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registry number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleSort)
        </dd>

        <dt>
            Colour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            Amount of wheels:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Wheels)
        </dd>
        <dt>
            Check in time:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt>
            Time parked:
        </dt>
        <dd>
            @{
                var timeParked = DateTime.Now - Model.CheckInTime;
                string displayTime = "";
                if (timeParked.Days > 0)
                {
                    displayTime = displayTime + timeParked.Days + " days ";
                }
                displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
            }
            @displayTime
        </dd>
    </dl>
    @{
        TimeSpan diff = DateTime.Now.Subtract(Model.CheckInTime);

        int kost1, kost4;
        kost1 = kost4 = 0;


        kost4 = diff.Days * 31;

        if (2 <= diff.Hours)
        {
            kost1 = 12;
            if (30 < (diff.Hours - 2) * 60 + diff.Minutes)
            {
                kost1 += 5;
            }
        }

        if (12 <= diff.Hours)
        {
            kost1 = 27;
            if (30 < (diff.Hours - 12) * 60 + diff.Minutes)
            {
                kost1 += 4;
            }
        }

        var totalCost = kost1 + kost4;

        ViewBag.InvoiceCost = totalCost;
     }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button>
                @Html.ActionLink("Confirm", "Receipt", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue, Id = Model.Id, invoiceCost = totalCost})
            </button>
        </div>
    }
    <br />
    <br />
    @{
        string backToStr = "";
        if (ViewBag.SearchProp != null)
        {
            backToStr = "To " + ViewBag.SearchValue.ToLower() + " overview";
            if (ViewBag.SearchProp == "Colour")
            {
                backToStr = "To " + ViewBag.SearchValue.ToLower() + " vehicles overview";
            }
            if (ViewBag.SearchProp == "TimeParkedMore")
            {
                backToStr = "To >" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            if (ViewBag.SearchProp == "TimeParkedLess")
            {
                backToStr = "To <" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            <button>
                @Html.ActionLink(backToStr, "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
            </button>
            <br />
            <br />
        }
    }
    <button>@Html.ActionLink("To vehicle overview", "Index")</button>
</div>
