@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Details";
    String headline = "Detailed information on " + Model.RegNumber;
}

<h2>@headline</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registry number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleSort)
        </dd>
        <dt>
            Member:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            Colour:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            Amount of wheels:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Wheels)
        </dd>
        <dt>
            Check in time: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt>
            Time parked: 
        </dt>
        <dd>
            @{
                var timeParked = DateTime.Now - Model.CheckInTime;
                string displayTime = "";
                if (timeParked.Days > 0)
                {
                    displayTime = displayTime + timeParked.Days + " days ";
                }
                displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
            }
            @displayTime
        </dd>
        <dt>
            Parking slot:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingSlot)
        </dd>
    </dl>
</div>
<p>
    <br />
    @{
        string backToStr = "";
        if (ViewBag.SearchProp != null)
        {
            backToStr = "To " + ViewBag.SearchValue.ToLower() + " overview";
            if (ViewBag.SearchProp == "Colour")
            {
                backToStr = "To " + ViewBag.SearchValue.ToLower() + " vehicles overview";
            }
            if (ViewBag.SearchProp == "TimeParkedMore")
            {
                backToStr = "To >" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            if (ViewBag.SearchProp == "TimeParkedLess")
            {
                backToStr = "To <" + ViewBag.SearchValue.ToLower() + " hours overview";
            }
            <button>
                @Html.ActionLink(backToStr, "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
            </button>
            <br />
            <br />
        }
    }
    <button>@Html.ActionLink("To vehicle overview", "Index")</button>
</p>
