@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "FullView";
}

<h2>Detail view</h2>
<div id="searchBox">
    <h4 style="text-align:center;">Search</h4>
    <span>Property:</span> <select name="searchProp" form="searchform" id="searchProp" onchange="AdaptForm()">
        <option value="RegNumber">Registry Number</option>
        <option value="Member">Member Name</option>
        <option value="Membership">Membership type</option>
        <option value="Type">Type</option>
        <option value="CheckInTime">Check In Time</option>
        <option value="TimeParkedMore">Time Parked (> hours)</option>
        <option value="TimeParkedLess">Time Parked (< hours)</option>
        <option value="ParkingSlot">Parking Slot</option>
        <option value="Terrain">Transport Medium</option>
        <option value="Wheels">Wheels</option>
        <option value="Colour">Colour</option>
    </select>
    <br>
    <span style="float: left;">Value:</span>
    <form id="searchform" style="float:right;">
        <input name="searchValue" id="textBox" type="text" />
        <select id="selectType" style="display:none">
            @foreach (var item in ViewBag.Types)
            {
                <option value="@item.VehicleSort"> @item.VehicleSort</option>
            }
        </select>
        <select id="selectMedium" style="display:none">
            <option class="terrain" value="Water">Water</option>
            <option class="terrain" value="Road">Road</option>
            <option class="terrain" value="Air">Air</option>
            <option class="terrain" value="Terrain">Terrain</option>
        </select>
        <br />
        <input type="submit" style="margin-top: 1px;">
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            Membership
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.VehicleSort)
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th>
            Time parked
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingSlot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.TransportMedium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.Wheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Member.Status)</td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.VehicleSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            <td>
                @{
                    var timeParked = DateTime.Now - item.CheckInTime;
                    string displayTime = "";
                    if (timeParked.Days > 0)
                    {
                        displayTime = displayTime + timeParked.Days + " days ";
                    }
                    displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
                }
                @displayTime
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.TransportMedium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
        </tr>
                    }

</table>
<button>@Html.ActionLink("To vehicle overview", "Index")</button>

<script>
    AdaptForm = function () {
        var searchValue = document.getElementById("searchProp").value
        if (searchValue == "Type") {
            Show("selectType")
            Hide("textBox")
            Hide("selectMedium")
        }
        else if (searchValue == "Terrain")
        {
            Show("selectMedium")
            Hide("selectType")
            Hide("textBox")
        }
        else {
            Show("textBox")
            Hide("selectType")
            Hide("selectMedium")
        }
    }
    Hide = function (id)
    {
        document.getElementById(id).setAttribute("style", "display: none")
        document.getElementById(id).removeAttribute("name")
    }
    Show = function (id)
    {
        document.getElementById(id).setAttribute("style", "display: inline-block")
        document.getElementById(id).setAttribute("name", "searchValue")
    }
</script>