@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "";
    String headline = "";
    if (ViewBag.SearchProp == null)
    {
        headline = "Vehicles parked in Joe's Garage";
    }
    else if (ViewBag.empty)
    {
        headline = "No vehicles found";
    }
    else
    {
        if (ViewBag.SearchProp == "RegNumber")
        {
            headline = "Vehicle " + ViewBag.SearchValue + " in Joe's Garage";
        }
        if (ViewBag.SearchProp == "Type")
        {
            headline = ViewBag.SearchValue + "s parked in Joe's Garage";
        }
        if (ViewBag.SearchProp == "Colour")
        {
            headline = ViewBag.SearchValue + " vehicles parked in Joe's Garage";
        }
        if (ViewBag.SearchProp == "TimeParkedMore")
        {
            headline = "Vehicles in Joe's Garage for " + ViewBag.SearchValue + " hours or more";
        }
        if (ViewBag.SearchProp == "TimeParkedLess")
        {
            headline = "Vehicles in Joe's Garage for " + ViewBag.SearchValue + " hours or less";
        }
    }
}

<h2>@headline</h2>

<div id="backLink">
    @{
        if (ViewBag.InsertLink)
        {
            <button class="button-link">@Html.ActionLink("To vehicle overview", "Index")</button>
        }

        <button class="button-link">@Html.ActionLink("To extended view", "FullView", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })</button>
    }
</div>

<button class="button-link">@Html.ActionLink("Check in", "Create", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })</button>
<div id="searchBox">
    <h4 style="text-align:center;">Search</h4>
    <span>Property:</span> <select name="searchProp" form="searchform" id="searchProp" onchange="AdaptForm()">
        <option value="RegNumber">Registry Number</option>
        <option value="Type">Type</option>
        <option value="Member">Member</option>
        <option value="TimeParkedMore">Time Parked (> hours)</option>
        <option value="TimeParkedLess">Time Parked (< hours)</option>
    </select>
    <br>
    <span style="float: left;">Value:</span>
    <form id="searchform" style="float:right;">
        <input name="searchValue" id="textBox" type="text" />
        <select id="selectType" style="display:none">
            @foreach (var item in ViewBag.Types)
            {
                <option value="@item.VehicleSort"> @item.VehicleSort</option>
            }
        </select>
        <select id="selectMember" style="display:none">
            @foreach (var item in ViewBag.Members)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <br />
        <input type="submit" style="margin-top: 1px;">
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @if (ViewBag.orderBy == "RegNo")
            {
                @Html.ActionLink("Registry number", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "RegNoDesc" })
            }
            else
            {
                @Html.ActionLink("Registry number", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "RegNo" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "Type")
            {
                @Html.ActionLink("Type", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "TypeDesc" })
            }
            else
            {
                @Html.ActionLink("Type", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Type" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "Member")
            {
                @Html.ActionLink("Member", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "MemberDesc" })
            }
            else
            {
                @Html.ActionLink("Member", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Member" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "TimeParked")
            {
                @Html.ActionLink("Parking time", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "TimeParkedDesc" })
            }
            else
            {
                @Html.ActionLink("Parking time", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "TimeParked" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "ParkingSlot")
            {
                @Html.ActionLink("Parking slot", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "ParkingSlotDesc" })
            }
            else
            {
                @Html.ActionLink("Parking slot", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "ParkingSlot" })
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.VehicleSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @{
                    var timeParked = DateTime.Now - item.CheckInTime;
                    string displayTime = "";
                    if (timeParked.Days > 0)
                    {
                        displayTime = displayTime + timeParked.Days + " days ";
                    }
                    displayTime = displayTime + timeParked.Hours + " hours " + timeParked.Minutes + " minutes";
                }
                @displayTime
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSlot)
            </td>
            <td>
                <button>
                    @Html.ActionLink("Details", "Details", new { id = item.Id, searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
                </button>
                <button>
                    @Html.ActionLink("Check out", "Delete", new { id = item.Id, searchProp = ViewBag.SearchProp, searchValue = ViewBag.SearchValue })
                </button>
            </td>
        </tr>
                    }

</table>

<script>
    //AdaptForm = function ()
    //{
    //    form = document.getElementById("searchform")
    //    form.removeChild(document.getElementById("select"))
    //    if (document.getElementById("searchProp").value == "Type")
    //    {
    //        var array = ["Airplane", "Boat", "Bus", "Car", "Motorcycle"]
    //        var select = document.createElement("select");
    //        select.name = "searchValue";
    //        select.id = "select";
    //        form.insertBefore(select, form.firstChild);

    //        for (var i = 0; i < array.length; i++)
    //        {
    //            var option = document.createElement("option");
    //            option.value = array[i];
    //            option.text = array[i];
    //            select.appendChild(option);
    //        }
    //    }
    //    else
    //    {
    //        var text = document.createElement("input");
    //        text.setAttribute("type", "text");
    //        text.setAttribute("name", "searchValue")
    //        text.id = "select";
    //        form.insertBefore(text, form.firstChild);
    //    }
    //}
    AdaptForm = function () {
        var propValue = document.getElementById("searchProp").value;
        if (propValue == "Type") {
            Show("selectType");
            Hide("textBox");
            Hide("selectMember");
        }
        else if (propValue == "Member") {
            Show("selectMember");
            Hide("selectType");
            Hide("textBox");
        }
        else {
            Show("textBox");
            Hide("selectType");
            Hide("selectMember");
        }
    }
    Hide = function (id) {
        document.getElementById(id).setAttribute("style", "display: none")
        document.getElementById(id).removeAttribute("name")
    }
    Show = function (id) {
        document.getElementById(id).setAttribute("style", "display: inline-block")
        document.getElementById(id).setAttribute("name", "searchValue")
    }

    //AddBackLink = function()
    //{
    //    var pos = document.getElementById("backLink");
    //    var link = document.createElement("a");
    //    link.setAttribute("href", "/");
    //    link.innerHTML = "Back to full list";
    //    pos.appendChild(link);
    //}
</script>