@model Garage2._0.Models.Member

@{
    ViewBag.Title = "Details for " + Model.Name;
}

<h2>Details for @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Invoice Cost:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceCost)
        </dd>

        <dt>
            Current Parking Cost:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentParkingCost)
        </dd>

        <dt>
            Membership:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Parked vehicles:
        </dt>
        @foreach (var item in Model.Vehicles)
        {
            <dd>
                @item.RegNumber
            </dd>
        }
    </dl>
</div>
<button>@Html.ActionLink("Change data", "Edit", new { id = Model.Id })</button>
<button>@Html.ActionLink("Back to member list", "Index")</button>