@model IEnumerable<Garage2._0.Models.Member>

@{
    ViewBag.Title = "Members at Joe's Garage";
}

<h2>Members at Joe's Garage</h2>
<button class="button-link"> @Html.ActionLink("Register member", "Create")</button>
<div id="searchBox">
    <h4 style="text-align:center;">Search</h4>
    <span style="float: left;">Value:</span>
    <form id="searchform" style="float:right;">
        <input name="searchValue" id="select" type="text" />
        <br />
        <input type="submit" style="margin-top: 1px;">
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @if (ViewBag.orderBy == "Name")
            {
                @Html.ActionLink("Name", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "NameDesc" })
            }
            else
            {
                @Html.ActionLink("Name", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Name" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "InvoiceCost")
            {
                @Html.ActionLink("Invoice Cost", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "InvoiceCostDesc" })
            }
            else
            {
                @Html.ActionLink("Invoice Cost", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "InvoiceCost" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "CurrentParkingCost")
            {
                @Html.ActionLink("Current Parking Cost", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "CurrentParkingCostDesc" })
            }
            else
            {
                @Html.ActionLink("Current Parking Cost", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "CurrentParkingCost" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "Status")
            {
                @Html.ActionLink("Membership", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "StatusDesc" })
            }
            else
            {
                @Html.ActionLink("Membership", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "Status" })
            }
        </th>
        <th>
            @if (ViewBag.orderBy == "VehiclesParked")
            {
                @Html.ActionLink("Number Of Vehicles Parked", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "VehiclesParkedDesc" })
            }
            else
            {
                @Html.ActionLink("Number Of Vehicles Parked", "Index", new { searchProp = ViewBag.SearchProp, searchValue = ViewBag.searchValue, orderBy = "VehiclesParked" })
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentParkingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Vehicles.Count)</td>
            <td>
                <button>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                <button>@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
                <button>@Html.ActionLink("Remove member", "Delete", new { id = item.Id })</button>
            </td>
        </tr>
    }

</table>

<div id="backLink">
    @{
        if (ViewBag.InsertLink)
        {
            <button>@Html.ActionLink("To member overview", "Index")</button>
        }
    }
</div>
